.project{
    @media only screen and (max-width: 480px){
        .project-cont{
            background: hsl(180, 100%, 6%);
            // opacity: .7;
            // padding: 10px;
            position: relative;
            // display: grid;
            // gap: 10px;
            // grid-template-columns: repeat(12, 1fr);
            // -webkit-box-align: center;
            // align-items: center;
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }


            .img-cont{
                position: absolute;
                // z-index: -1;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                box-shadow: 0 10px 30px -15px var(--navy-shadow);
                transition: var(--transition);
                grid-column: 1 / -1;
                height: 100%;
                opacity: 0.25;
                // grid-area: 1 / 6 / -1 / -1;
                
                // position: relative;
                z-index: 1;

                a{
                    width: 100%;
                    height: 100%;
                    background-color: var(--green);
                    border-radius: var(--border-radius);
                    vertical-align: middle;


                    img{
                        display: none;
                        object-fit: cover;
                        border-radius: var(--border-radius);
                        mix-blend-mode: multiply;
                        filter: grayscale(90%) contrast(1) brightness(90%);
                        
                        &:hover{
                            filter: none;
                        }
                    }
                }

                

            }

            .details-cont{
                // position: relative;
                // grid-area: 1 / 1 / -1 / 7;
                grid-column: 1 / -1;
                z-index: 5;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: center;
                justify-content: center;
                height: 100%;
                padding: 20px;

                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    
                    li{
                        margin-right: 15px;
                        z-index: 1;
                        font-size: 9px;
                    }
                }
                
                
                .project-links {
                
                        
                
                            // padding: 40px 40px 30px;
                
                            a {
                                text-decoration: none;
                                text-decoration-skip-ink: auto;
                                color: inherit;
                                // padding: 0 10px;
                                margin-right: 15px;
                
                                .icon {
                                    &:hover {
                                        color: var(--scd-color);
                                    }
                                }
                            }
                        
                    }
            }
        }

    }
    


    @media only screen and (min-width: 480px){
        .project-cont{
            position: relative;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(12, 1fr);
            -webkit-box-align: center;
            align-items: center;
        
            // &:nth-child(even){
            //     display: flex;
            //     flex-direction: row-reverse;
            // }
        
            .img-cont{
                box-shadow: 0 10px 30px -15px var(--navy-shadow);
                transition: var(--transition);
                grid-area: 1 / 6 / -1 / -1;
                position: relative;
                z-index: 1;
                
                
        
                img{
                    object-fit: cover;
                    border-radius: var(--border-radius);
                    mix-blend-mode: multiply;
                    filter: grayscale(90%) contrast(1) brightness(90%);
                    
                    &:hover{
                        filter: none;
                    }
                }
        
            }
            .details-cont{
                position: relative;
                grid-area: 1 / 1 / -1 / 7;
        
                .project-description{
                    box-shadow: 0 10px 30px -15px var(--navy-shadow);
                    // transition: var(--transition);
                    position: relative;
                    z-index: 2;
                    padding: 25px;
                    border-radius: var(--border-radius);
                    // background-color: box-shadow: 0 10px 30px -15px var(--navy-shadow);
                    // transition: var(--transition);
                    position: relative;
                    z-index: 2;
                    padding: 25px;
                    border-radius: var(--border-radius);
                    background-color: hsl(180, 100%, 9%);
                    // font-size: var(--fz-lg);
                    // color: var(--light-slate);
        
                }

                ul{
                    list-style: none;
                    display: flex;
                    padding: 0;
                    li{
                        margin-right: 15px;
                    }
                }
        
                .project-links{
        
                    a{
                        text-decoration: none;
                        text-decoration-skip-ink: auto;
                    color: inherit;
                        // padding: 0 10px;
                        margin-right: 15px;
                        .icon{
                            &:hover{
                                color: var(--scd-color);
                            }
                        }
                    }
                }
        
        
        
        
            }
        
            &:not(:last-of-type) {
                margin-bottom: 100px;
            }
        }
    }


    
    .ProjectBtn{
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


