.tile{
    background-color: hsl(0, 0%, 12%);
    width: 500px;
    border-radius: 10px;
    padding: 5px 10px;

    h3{
        font-size: 14px;
    }

    p{
        color: hsl(0, 0%, 60%);
    }

    ul{
        display: flex;
        
    
        li{
            list-style: none;
            display: flex;
            cursor: pointer;

            a{
                text-decoration: none;
                display: flex;
                span{
                    font-weight: 600;
                }
            
                .tile-icon {
                    margin-left: 5px;
                    font-size: 21px;
                    margin-right: 35px;
                }
            }
            
        }
    }
}