.intro{
    display: flex;
    height: 100vh;

    .left{
        display: flex;
        flex: 3;
        align-items: center;
        justify-content: center;

        .avatar{
            background-color: #000000;
            padding: 5px;
            border-radius: 50%;
            height: 300px;
            @media only screen and (max-width: 768px){
                height: 150px;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        flex: 4;
        // align-items: center;
        justify-content: center;
        padding: 0 19px;


        h1{
            font-size: 40px;
            margin-bottom: 0px;
            padding-right: 15px;
        }

        h2{
            font-size: 57px;
            margin-top: 0;
            font-weight: 100;
            -webkit-text-stroke: 3px white;
	        -webkit-text-fill-color: black;
        }
        .btn-container{
            display: flex;
            flex-direction: row;

            a{
                margin-right: 20px;
                text-decoration: none;
            }

        }

        @media only screen and (max-width: 768px){
            text-align: center;

            h1{
                font-size: 38px;
                margin-bottom: 0px;
            }
    
            h2{
                font-size: 48px;
                margin-top: 0;
            }

            .btn-container{
                align-items: center;
                justify-content: center;
            }
        }

    }

    @media only screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
}