

.intro{
    display: flex;
    
    @media only screen and (max-width: 768px) {
        height: 90vh;
    }

   
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 0 19px;


        h1{
            margin-block-start: 0;
            margin-block-end: 0;
            // font-size: var(--fz-heading);
            // display: block;
            font-size: clamp(40px, 8vw, 70px);
            // margin-block-start: 0.83em;
            // margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        h4{
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
            font-weight: 400;
            
        }

        .into-title-2{
            color: hsl(120, 10%, 66%);;
        }

        p{
            max-width: 540px;
        }
        .btn-container{
            // display: flex;
            // flex-direction: row;
            margin-top: 50px;

            // a{
            //     text-decoration: none;
            //     padding: 1rem 1.5rem;
            // }

        }

    }

    
}


@media only screen and (max-width: 480px){
    .intro{
        // height: 50vh;
    
       
        .right{
    
        }
    
        
    }
}