@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
 background-color: hsl(0, 0%, 10%);
}

h1, h2, h3, h4, h5, h6 , .btn{
  font-family: 'Poppins', sans-serif;
}

p,span,strong{
  font-family: 'Nunito', sans-serif;
}

.titleSection{
  font-weight: 500;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}